.p-large {
  color: #fff;
  font: 400 1rem/1.5rem;
  font-family: "Oswald", sans-serif;
}

.p-heading {
  margin-bottom: 3.75rem;
  text-align: center;
}

.tabs {
  padding-top: 6.5rem;
  padding-bottom: 4.25rem;
  background-color: #046672;
}

.tabs .nav-tabs {
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
  justify-content: center;
  border-bottom: none;
}

.tabs .nav-link {
  margin-bottom: 1rem;
  padding: 0.5rem 1.375rem 0.25rem 1.375rem;
  border: none;
  border-bottom: 0.1875rem solid #f1f1f8;
  border-radius: 0;
  color: #f1f1f8;
  font: 700 1rem/1.75rem;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  transition: all 0.2s ease;
}

.tabs .nav-link.active,
.tabs .nav-link:hover {
  border-bottom: 0.1875rem solid #00c9db;
  background-color: transparent;
  color: #00c9db;
}

.tabs .nav-link .fa {
  margin-right: 0.375rem;
  font-size: 1rem;
}

.tabs .card {
  border: none;
  background: transparent;
}

.tabs .card-body {
  margin-bottom: 0.5rem;
}

.tabs .card-body p {
  font-family: "Roboto Condensed", sans-serif;
}

.tabs .card .card-icon {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #00c9db;
  text-align: center;
  vertical-align: top;
}

.tabs .card .card-icon .fa {
  color: white;
  font-size: 2rem;
  line-height: 4.5rem;
}

.tabs .card.left-pane .text-wrapper {
  display: inline-block;
  width: 75%;
  text-align: right;
}

.tabs .card.left-pane .card-icon {
  float: none;
  margin-right: 0;
  margin-left: 1rem;
}

.tabs img {
  display: block;
  margin: 0.3rem auto 3rem auto;
}

.tabs .card.right-pane .text-wrapper {
  display: inline-block;
  width: 75%;
  margin-left: 1rem;
}

.tabs .card .card-icon {
  width: 4.5rem;
  height: 4.5rem;
}

.tabs .icon-cards-area .card {
  display: inline-block;
  width: 44%;
  margin-right: 2.5rem;
  vertical-align: top;
}

.tabs .card.left-pane .text-wrapper,
.tabs .card.right-pane .text-wrapper {
  width: 68%;
}
