.service_section {
  color: #333;
  padding: 100px 0px;
}

.dark {
  color: #00bcd4;
}

.sec_title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 025px;
  padding: 14px 0;
  color: #333;
}

.color_aaa {
  color: darkgray;
}

.row.custom_column .col-lg-3.col-sm-4.col-md-3 {
  width: 20% !important;
  flex: 0 0 20%;
}

.box {
  display: inline-block;
  position: relative;
  width: 100%;
  background: transparent;
  perspective: 1000;
  transform-style: preserve-3d;
  transition: all ease 400ms;
}

.box .flipper {
  transform-origin: 100% 213.5px;
  margin-top: 60px;
}

.box .front i,
.box .back i {
  font-size: 64px;
  line-height: 1;
  color: #aaaaaa;
  display: block;
  margin-bottom: 17px;
  transition: all ease 400ms;
}

.box .front h3,
.box .back h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0;
  transition: all ease 400ms;
}

.flipper {
  transform: perspective(1000px);
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  background: transparent;
  z-index: 2;
  border: 2px solid rgba(27, 27, 27, 1);
  padding: 48px 45px 45px;
  width: 100%;
}

.back {
  background: #00bcd4;
  transform: rotateY(-180deg);
  position: relative;
  padding: 48px 45px 45px;
  border: 2px solid #00bcd4;
  width: 100%;
}

.box:hover .front {
  transform: rotateY(180deg);
}

.box:hover .back {
  transform: rotateY(0deg);
}

.box .back h3,
.box .back i {
  color: white;
}

a.box.text-center {
  text-decoration: none;
}
